[submodule "dependencies/neith"]
	path = dependencies/neith
	url = https://github.com/mattbierner/neith.git
[submodule "dependencies/khepri-ast"]
	path = dependencies/khepri-ast
	url = https://github.com/mattbierner/khepri-ast.git
[submodule "dependencies/nu"]
	path = dependencies/nu
	url = https://github.com/mattbierner/nu.git
